{% extends "_base.html" %}

{% block title %}{{ tag.title }}{% endblock title %}

{% block content %}

    <h1>{{ tag.title }}</h1>

    <p>{{ tag.description|linebreaks }}</p>
    
    <hr/>

    {% for post in post_list %}
        <div>
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

            <div class="post-author-heading">
                <h6><a href="{% url 'about' %}">{{ post.author }}</a></h6>
                <h6>on {{ post.created }}</h6>

                <!-- If the post has been update, display the date of the update -->
                {% if post.created != post.modified %}
                    <h6 class="updated">Updated {{ post.modified }}</h6>
                {% endif %}
            </div>

            <div>
                {% for tag in post.tag_set.all %}
                    <a class="btn btn-primary" href="{% url 'tags:posts_by_tag' tag.slug %}">{{ tag.title }}</a>
                {% endfor %}
            </div>

            <p>{{ post.description|linebreaks }}</p>

            <hr/>
        
        </div>
    {% endfor %}

{% endblock content %}