h1 {
    color: red;
}

.product-row {
    height: 100%;
}

.scroll-col {
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100vh;
    padding-top: 1em;
}


/* Setting the blog post author heading styling */
.post-author-heading h6 {
    display: inline-block;
}

.updated {
    color: red;
}

/* Centering images in the blog post uploaded through rich text editor */
p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Adding some space at the bottom of a post */
.post-content {
    padding-bottom: 3em;
}