h1 {
    color: red;
}

.product-row {
    height: 100%;
    padding: 10px;
}

.product-col {
    padding: 1em;
}

/* .scroll-col {
    height: 100%;
    overflow-y: scroll;
} */

::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100%;
    /* padding-top: 1em; */
}

.about {
    padding-top: 1em;
}

/* Setting the blog post author heading styling */
.post-author-heading h6 {
    display: inline-block;
}

.updated {
    color: red;
}

/* Centering images in the blog post uploaded through rich text editor */
p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Adding some space at the bottom of a post */
.post-content {
    padding-bottom: 3em;
}

.pagination {
    /* Center the pagination */
    justify-content: center;
}

.banner-image {
    opacity: 0.8;
}

.fair-thumbnail {
    width: 200px;
}