{% extends "_base.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <div class="post-detail">
        <h2><a href="">{{ post.title }}</a></h2>
        <h6><a href="{% url 'about' %}">{{ post.author }}</a></h6>
        <p>{{ post.content }}</p>
    </div>

    {% if post.images.all %}
        {% for image in post.images.all %}
            <div>
                <hr/>
                <img class="img-fluid"src="{{ image.image.url }}" alt="{{ image.name }}">
            </div
        {% endfor %}
    {% endif %}
{% endblock content %}