{% extends "_base.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

    <div class="container">

        <h2><a href="">{{ post.title }}</a></h2>
        
        <div class="post-author-heading">
            <h6><a href="{% url 'about' %}">{{ post.author }}</a></h6>
            <h6> on {{ post.created }}</h6>
            <!-- If the post has been updated, display the date of the most recent update in red -->
            {% if post.created != post.modified %}
                <h6 class="updated">Updated {{ post.modified }}</h6>
            {% endif %}
        </div>

        <div>
            {% for tag in post.tag_set.all %}
                <span><a class="btn btn-primary" href="{% url 'tags:posts_by_tag' tag.slug %}">{{ tag.title }}</a></span>
            {% endfor %}
        </div>
    
        <hr/>

        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>  
    </div>

{% endblock content %}