{% extends "_base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row about">
            <div class="col-sm">
                <img class="img-fluid" src="{% static 'images/owen_sophie.jpg' %}" alt="Owen & Sophie">
            </div>

            <div class="scroll-col col-sm">
                <h1>About Page</h1>

                <div class="flex-row">
                    <h5>Work Experience</h5>
                    <p>
                        I am a ski industry profesional with varied experience in the manufacturing, retail, and resort sectors. I have spent time
                        on the factory lines for both soft-goods and hard-goods. I have also started my own manufacturing business producing 
                        sewn goods. During my time working with soft-goods, specifically outdoor techincal apparel, I taught myself the basics of sewing.
                        Well, with a little help from my mother and the designer at work... I was able to mix-in my interest in computers building not only
                        this website, but some software to help manage production, by way of tracking inventory and work in progress. One thing led to another
                        and a fun little side project quickly became a serious attempt at starting a business.  
                    </p>
                </div>
                <div class="flex-row">
                    <h5>Education</h5>
                    <p>
                        I received a Bachelor's of Science from the University of Massachusetts, Amherst in 2018, with a dual concentration
                        in Applied Mathematics & Statistics. While in school, I was exposed to the Python programming language, and have kept
                        working with Python since graduation. These days, I mostly use the web development framework 
                        Django to build web based applications (websites).
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}