{% extends "_base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">

        <div class="row pt-2 justify-content-center">
            <h1>About Me</h1>
        </div>
        <div class="row py-2">
            <div class="col-sm">
                <img class="img-fluid rounded" src="{% static 'images/owen_sophie_web.jpg' %}" alt="Owen & Sophie">
            </div>

            <div class="col-sm">

                <div class="flex-row double-space pt-2">
                    &emsp;I am a ski industry profesional with varied experience in the manufacturing, retail, and resort sectors. I have spent time
                    on the factory lines for both soft-goods and hard-goods. I have also started my own manufacturing business producing 
                    sewn goods. During my time working with soft-goods, specifically outdoor techincal apparel, I taught myself the basics of sewing.
                    Well, with a little help from my mother and the designer at work... I was able to mix-in my interest in computers building not only
                    this website, but some software to help manage production, by way of tracking inventory and work in progress. One thing led to another
                    and a fun little side project quickly became a serious attempt at starting a business.  
                </div>
                <div class="flex-row double-space">
                    &emsp;Despite working in the 'ski' industry, I am in fact, a knuckle dragging snowboarder. I learned how to snowboard as a very young kid,
                    and have been falling downhill ever since. I've made skis & snowboards, sold skis & snowboards, taught people how to snowboard, and even
                    started working with ski patrol...<i>gasp</i>.
                </div>
            </div>
        </div>

        <div class="row pt-2">

            <div class="col-sm">

                <div class="flex-row double-space">
                    <h5>Certifications</h5>
                    <ul>
                        <li>Wilderness First Responder</li>
                        <li>AIARE Level 1 Avalanche</li>                        
                    </ul>
                </div>

                <div class="flex-row double-space">
                    <h5>Education</h5>
                    <ul>
                        <li>Bachelor's of Science, Mathematics, University of Massachusets, Amherst 2018</li>
                    </ul>
                </div>

                <div class="flex-row double-space">
                    <h5>Computer Skills</h5>
                    <ul>
                        <li>Operating Systems: Windows, MacOS, Linux Desktop & Server</li>
                        <li>Web Development: Django, Postgres, Gunicorn, Nginx</li>
                        <li>Programming Languages: Python</li>
                        <li>Development: Git, Docker</li>
                        <li>IT: Email Administration</li>

                    </ul>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}