{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    
    <div class="container-fluid">    
        <!-- <div class="row banner">
                <div class="banner-image">
                    <h2>Owen Wholley Mfg.</h2>
                </div>
        </div> -->
        <div class="row justify-content-center align-items-center">
            <img class="img-fluid banner-image" src="{% static 'images/dab-lab3.jpg' %}" alt="Dab Lab picture"> 
            
        </div>
        
        <div class="container">
            
            <div class="row">
                <h1>Events</h1>
            </div>

            <div class="row">
                <div class="col-sm-4 text-center text-justify">
                    <h4><a href="https://www.facebook.com/HarrisonCommunityDay">Harrison Community Fair</a></h4>
                    <h6>Saturday, July 9th 2022</h6>
                    <h6>Harrison, ME</h6>
                    <!-- <p>'An old fashioned community fair where neighbors, families and friends can get together and have fun! There will be a 5k race, food trucks, crafts & vendors, contests, music, games, duck race and so much more!'</p> -->
                </div>
                <div class="col-sm-4">
                    <img class="img-thumbnail fair-thumbnail mx-auto d-block" src="{% static 'images/harrison-community-fair.jpg' %}" alt="Harrison Community Fair">
                </div>
                <div class="col-sm-4 text-center">
                    <p>'An old fashioned community fair where neighbors, families and friends can get together and have fun! There will be a 5k race, food trucks, crafts & vendors, contests, music, games, duck race and so much more!'</p>
                </div>
            </div>
            
            <hr/>

            <div class="row">
                <h1>Products</h1>
            </div>
            
            <div class="row product-row">
                {% for product in product_list %}
                    <div class="col-sm-4 product-col">
                        <a href="{% url 'sewing:detail' product.slug %}">
                            <img class="img-fluid rounded" style="height:200px;" src="{{product.images.first.url.url }}" alt="{{ product.imgaes.first.name }}">
                            <h2>{{ product.name }}</h2>
                        </a>
                    </div> 
                {% endfor %}
            </div>
                
            <div class="row ml-2">
                <a class="btn btn-primary" href="{% url 'sewing:list'  %}" role="button">See More</a>
            </div>
            
        </div>
        
        
    </div>
    
{% endblock content %}

<!-- <div class="row min-vh-100 justify-content-center align-items-center"></div> -->